* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #32746d;
    display: flex;
    justify-content: center;
    
}

.calculator-border {
    margin-top: 100px;
    background-color: #111344;
    border-radius: 20px;
    padding: 15px;
    padding-right: 20px;
    width: fit-content;
}

.container {
    display: grid;
    gap: 5px;
    width: 25vw;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(6, 1fr);
}
.screen {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #dedbd2;
    grid-column-start: 1;
    grid-column-end: 5;
    overflow: scroll;
    margin-bottom: 5px;
}
.top-buttons {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 5;
    gap: 5px;
}
.incoming-operation {
    flex: 1;
    overflow: scroll;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
    font-weight: 500;
}

.result {
    flex: 3;
    overflow: scroll;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
    font-weight: 500;
    font-size: 40px;
}

button {
    aspect-ratio: 1/1;
    border-radius: 10px;
    outline: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 23px;
    background-color: #6cbeed; 
    border: none;
    transition: all .1s ease-in-out;
}

button:hover
{
  opacity: 1;
  background-color: #8CAAB7;
  transform: scale(1.1);
}

button:active
{
  background-color: rgb(136, 111, 104);
  transform: scale(1.15);
}
.top-buttons > button {
    flex: 1;
    aspect-ratio: 4/3;
}
#equals {
    grid-column-start: 1;
    grid-column-end:   2;
}

#delete {
    grid-column-start: 2;
    grid-column-end:   3;
}

#AC {
    grid-column-start: 3;
    grid-column-end:   4;
}